// Colors
$green-glycosa: #8cc63f;
$red-glycosa: #ed1c24;
$mint-cream: #F3F5F4;

// Background
$bg-dark: #1A2F3A;

// Heights
$aside-width: 225px;
$footer-height: auto;
$header-height: 100px;
$logo-height: 100px;
$menu-top-height: 75px;

// Others
$shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
