aside.logo {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  i {
    color: $green-glycosa;
    font-size: 30px;
  }
}



@media(max-width: 576px) {
  aside.logo img {
    max-width: 250px;
  }
}
